# Type Casting

Int to Float

In [8]:
age_int = 20
age_int = float(age_int)

In [16]:
age_float = 20.76
age_int = print(int(age_float))

20

In [17]:
age = 30.79
age_int = int(age)

In [18]:
age = 45
wight = 45.5
age_str = str(age)
age_str2 = str(wight)

In [22]:
age = '10'
string= str(age)
#float = float(age)
integer = int(age)

### List and Tuple

In [26]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
my_tuple = (1, 2, 3, 4, 5)

print(type(my_list))
print(type(my_tuple))

<class 'list'>
<class 'tuple'>

In [27]:
list_into_tuple = tuple(my_list)
tuple_into_list = list(my_tuple)

## list to set and set to list

In [30]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
my_list1 = set(my_list)
print(type(my_list1))

<class 'set'>

## Boolean

In [32]:
number = 10 
number = bool(number)
print(type(number))

<class 'bool'>

In [ ]:
age = None
age = bool(age)
print(type(age))

<class 'bool'>

# Dynamic Type Casting